/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
   	font-family: 'Open Sans', 'Droid Sans', Arial;

}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Site specific design
 */

#wrapper {
    width: 100%;
    max-width: 800px;
    padding: 10px 15px 20px 15px;
    margin: 0 auto;
}

#___plusone_0 {
	margin-left: 15px !important;
}

.social-buttons {
	margin-top: 15px;
}

img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

a, a:visited {
	color: #222;
}

a:hover {
	color: #3e5c9a;
}